@model Helpers.Dto.PartialViewDtos.SecretaryOpViewDto;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    var CompId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
}

<style>
    button {
        border: none !important;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <section class="content">
                            <div class="container-fluid">
                                <div class="card" style="border-radius:40px; margin-top:20px">
                                    <div class="card-content">
                                        <div class="card-body cleartfix">
                                            <div class="media align-items-stretch">
                                                <div style="margin-top:10px; justify-content:space-evenly !important;" class="media-body d-flex mb-4">
                                                    <h3>Gelir Raporu</h3>
                                                    <h3 id="totalPrice"></h3>
                                                </div>

                                            </div>
                                            <div class="row d-flex" style="justify-content:space-evenly !important;">

                                                <select id="firstDate" class="form-control col-md-4">

                                                    <option selected value='01'>Ocak</option>
                                                    <option value='02'>Şubat</option>
                                                    <option value='03'>Mart</option>
                                                    <option value='04'>Nisan</option>
                                                    <option value='05'>Mayıs</option>
                                                    <option value='06'>Haziran</option>
                                                    <option value='07'>Temmuz</option>
                                                    <option value='08'>Agustos</option>
                                                    <option value='09'>Eylül</option>
                                                    <option value='10'>Ekim</option>
                                                    <option value='11'>Kasım</option>
                                                    <option value='12'>Aralık</option>

                                                </select>

                                                <select id="secDate" class="form-control col-md-4">
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <option>@DateTime.Today.AddYears(-i).ToString("yyyy")</option>
                                                    }
                                                </select>

                                                <button class="btn btn-warning" onclick="getir()">Getir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="portlet-body">
                            <div id="secimdetay" class="portlet light" style="padding: 15px;">
                                <div class="alert alert-info" style="margin-bottom: 0;">
                                    <strong>Ödeme Raporları Listesi!</strong> İlgili Alanları Seçerek İşleme Devam Ediniz.
                                </div>
                            </div>
                        </div>

                        <div id="tables" class="d-none">

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">

                                    <thead>
                                        <tr style="text-align:center">
                                            <th>Gelir Türü</th>
                                            <th>Gelir Miktarı</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="text-align:center">
                                            <th>Reservasyon</th>
                                            <th id="resPrice"></th>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">

                                    <thead>
                                        <tr style="text-align:center">
                                            <th>Gelir Türü</th>
                                            <th>Gelir Miktarı</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="text-align:center">
                                            <th>Aidat</th>
                                            <th id="debtPrice"></th>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>

                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">

                                    <thead>
                                        <tr style="text-align:center">
                                            <th>Gelir Türü</th>
                                            <th>Gelir Miktarı</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="text-align:center">
                                            <th>Dolap</th>
                                            <th id="cabPrice"></th>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>


    function getir() {

        var firstDate = $('#firstDate option:selected').val();
        var secDate = $('#secDate option:selected').text();

        debugger;


        $.ajax({
            type: "Get",
            url: '../AdminHome/GetAllList',
            cache: false,
            data: { 'first': firstDate, 'second': secDate },
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;

                if (res.length != 0) {

                    var count = 0;
                    var count2 = 0;
                    var count3 = 0;

                    for (var i = 0; i < res.length; i++) {

                        if (res[i].companyId == compId) {

      
                            if (res[i].refType == 1) {

                                count = count + res[i].paidPrice;
                            }
                            else if (res[i].refType == 2) {
                                count2 = count2 + res[i].paidPrice;
                            }

                            else {
                                count3 = count3 + res[i].paidPrice;
                            }         
                        }
                    }

                    $("#resPrice").text(count + "₺");
                    $("#debtPrice").text(count2 + "₺");
                    $("#cabPrice").text(count3 + "₺");
                
                  
                    var total = count + count2 + count3;

                    $("#totalPrice").text("Toplam Gelir :" + total + "₺");

                    $("#tables").removeClass("d-none");

                }
            },

            error: function (textStatus, errorThrown) {

                console.log(JSON.stringify(textStatus));
                console.log(textStatus);

            }
        });
    }


</script>