

<section class="content">
    <div class="content-wrapper">
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Personel Kayıt</h2>
                        <div>
                            <div class="roww roww-space">
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Ad-Soyad</label>
                                        <input type="text" id="name" placeholder="Full-Name" class="input--style-4" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Giriş Yapacağı Kullanıcı Adı</label>
                                        <input type="text" id="username" placeholder="UserName" class="input--style-4" autocomplete="new-password">
                                    </div>
                                </div>
                            </div>
                            <div class="roww roww-space">
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Birthday</label>
                                        <div class="input--group-icon">
                                            <input id="birthdate" placeholder="BirthDate (exp: gg.aa.yyyy)" class="input--style-4 js-datepicker" autocomplete="new-password">
                                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Gender</label>
                                        <div id="gender" class="p-t-10">
                                            <label class="radio-container m-r-45">
                                                Male
                                                <input type="radio" checked="checked" name="gender" value="Male">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                Female
                                                <input type="radio" name="gender" value="Female">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="roww roww-space">
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Email</label>
                                        <input type="email" id="email" placeholder="Email" class="input--style-4" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Phone Number</label>
                                        <input type="text" class="input--style-4" id="phone" placeholder="Phone" autocomplete="new-password">
                                    </div>
                                </div>
                            </div>
                            <div class="roww roww-space">
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Password</label>
                                        <input type="password" id="password" placeholder="Password" class="input--style-4" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="coll-2">
                                    <div class="input--group">
                                        <label class="label">Confirm Password</label>
                                        <input type="password" id="checkpassword" placeholder="Confirm-Password" class="input--style-4" autocomplete="new-password">
                                    </div>
                                </div>
                            </div>

                            <div class="input--group">
                                <label class="label">Role</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="RegistersRole">
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option>Manager</option>
                                        <option>Trainer</option>
                                        <option>Student</option>

                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            <div class="p-t-15">
                                <button class="btnn btn--radius-2 btn--blue" onclick="register()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    userObj = {

        name: null,
        username: null,
        phone: null,
        password: null,
        birthdate: null,
        gender: null,
        email: null,
        role:null
    };

    function register() {

        if ($("#RegistersRole option:nth-of-type(1)").text() == $("#select2-RegistersRole-container").text()) {
            alert("rol seçin");
        } else {
            if (($("#password").val() == $("#checkpassword").val()) && ($("#password").val() != "")) {

                userObj.name = $("#name").val();
                userObj.username = $("#username").val();
                userObj.phone = $("#phone").val();
                userObj.password = $("#password").val();
                userObj.birthdate = $("#birthdate").val();
                userObj.gender = "Male";
                userObj.email = $("#email").val();
                userObj.role = $("#RegistersRole option:selected").text();


                try {
                    $.ajax({
                        type: "Get",
                        url: '../Home/Register',
                        cache: false,
                        data: userObj,
                        dataType: "json",
                        async: true,
                        success: function (res) {
                            debugger;
                            if (res.fullName != null && res.birthDate != null)
                                alert("kaydedildi.")
                            else
                                alert("hata");

                        },
                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                } catch (e) {
                    console.log(e.message);
                }

            } else {
                alert("Şifreler uyumsuz.");
            }
        }

    }
</script>