@model List<Helpers.Dto.AppIdentityRoleDto>


<div class="content-wrapper">
    <div class="hold-transition register-page">
        <div class="register-box">
            <div class="card" style="margin-left:-300px; margin-right:-300px">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Kayıt Formu </p>
                    <div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Adı Soyadı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Başlangıç Tarihi" type="text" class="form-control" id="startDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Bitiş Tarihi" type="text" class="form-control" id="finishDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <select id="RegistersRole" class="form-control">
                                    <option disabled="disabled" selected>Türü</option>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <option>@Model[i].NormalizedName</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="condition" class="form-control">
                                    <option disabled="disabled" selected>Durumu</option>
                                    <option>Faal</option>
                                    <option>Çıkan</option>
                                    <option>Dondurulmuş</option>
                                    <option>Fahri</option>
                                    <option>İstifa</option>
                                    <option>Onur</option>
                                    <option>Vefat</option>
                                    <option>Belirtilmemiş</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="email" class="form-control" placeholder="T.C Kimlik" id="identificationNumber" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="webReservation" class="form-control">
                                    <option disabled="disabled" selected>Web Rezervasyon</option>

                                    <option value="1">Yapabilir</option>
                                    <option value="2">Yapamaz</option>

                                </select>
                            </div>
                        </div>
                        <div class="row">

                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Telefon No" id="phone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                            </div>

                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="phoneExp" placeholder="Tel Açıklama" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Telefon No" id="phone2" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                            </div>

                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="phone2Exp" placeholder="Tel Açıklama" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="emailExp" placeholder="Email Açıklama" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input placeholder="Doğum Tarihi" id="birthdate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="birthPlace" placeholder="Doğum Yeri" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="motherName" placeholder="Anne Adı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="fatherName" placeholder="Baba Adı" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="city" placeholder="Şehir" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="district" placeholder="İlçe" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="job"  placeholder="Meslek" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                <input type="text" class="form-control" id="note"  placeholder="Not" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="checkpassword" placeholder="Retype password" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="justify-content:end">
                            <div class="col-1">
                                <button type="submit" class="btn btn-danger btn-block"><i class="fas fa-window-close"></i></button>
                            </div>

                            <div class="col-4">
                                <button type="submit" class="btn btn-success btn-block" onclick="register()"><i class="fas fa-save"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>


    $(function () {

        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[data-mask]').inputmask()
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
    })

    userObj = {

        name: null,
        username: null,
        startDate: null,
        finishDate: null,
        role: null,
        condition: null,
        identificationNumber: null,
        webReservation: null,
        phone: null,
        phoneExp: null,
        phone2: null,
        phone2Exp: null,
        email: null,
        emailExp: null,
        birthdate: null,
        birthPlace: null,
        motherName: null,
        fatherName: null,
        city: null,
        district: null,
        job: null,
        note:null,
        password: null,   
        gender: null,
             
    };

    function register() {

        if ($("#RegistersRole option:nth-of-type(1)").text() == $("#select2-RegistersRole-container").text()) {

            $.confirm({
                title: "Uyarı",
                content: "Lütfen Rol Seçiniz",
                buttons: {
                    TAMAM: function () {

                        window.location.href = "NewRegister"
                    }
                }
            });

        } else {

            if (($("#password").val() == $("#checkpassword").val()) && ($("#password").val() != "")) {

                userObj.name = $("#name").val();
                userObj.username = $("#username").val();
                userObj.startDate = $("#startDate").val();
                userObj.finishDate = $("#finishDate").val();
                userObj.role = $("#RegistersRole option:selected").text();
                userObj.condition = $("#condition option:selected").text();
                userObj.identificationNumber = $("#identificationNumber").val();
                userObj.webReservation = $("#webReservation option:selected").val();
                userObj.phone = $("#phone").val();
                userObj.phoneExp = $("#phoneExp").val();
                userObj.phone2 = $("#phone2").val();
                userObj.phone2Exp = $("#phone2Exp").val();
                userObj.email = $("#email").val();
                userObj.emailExp = $("#emailExp").val();
                userObj.birthdate = $("#birthdate").val();
                userObj.birthPlace = $("#birthPlace").val();
                userObj.motherName = $("#motherName").val();
                userObj.fatherName = $("#fatherName").val();
                userObj.city = $("#city").val();
                userObj.district = $("#district").val();
                userObj.job = $("#job").val();
                userObj.note = $("#note").val();
                userObj.password = $("#password").val();            
                userObj.gender = "Male";

               
               
                try {
                    $.ajax({
                        type: "Post",
                        url: '../Home/Register',
                        cache: false,
                        data: userObj,
                        dataType: "json",
                        async: true,
                        success: function (res) {

                            if (res.fullName != null && res.birthDate != null)

                                $.confirm({
                                    title: "Bilgilendirme",
                                    content: "Kullanıcı Başarıyla Kaydedildi.",
                                    buttons: {
                                        TAMAM: function () {

                                            window.location.href = "NewRegister"
                                        }
                                    }
                                });


                            else
                                $.confirm({
                                    title: "Uyarı",
                                    content: "Kullanıcı Kaydedilirken Hata Oluştu.",
                                    buttons: {
                                        TAMAM: function () {


                                        }
                                    }
                                });

                        },
                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                } catch (e) {
                    console.log(e.message);
                }

            } else {
                $.confirm({
                    title: "Uyarı",
                    content: "Şifreler Uyumsuz",
                    buttons: {
                        TAMAM: function () {


                        }
                    }
                });
            }
        }

    }
</script>   