
@{
    Layout = null;
}


<!DOCTYPE html>


<title>Atk Giriş Ekranı</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/adminRoot/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="~/adminRoot/css/adminlte.min.css" rel="stylesheet" />
<link href="~/adminRoot/css/jquery-confirm.css" rel="stylesheet" />
<link href="~/adminRoot/css/loading.css" rel="stylesheet" />


<body class="hold-transition login-page" style="background-color:rgb(108, 119, 110) !important">
    <div class="login-box">



        <div class="card" style="background-color:transparent">
            <div style="margin-top:20px" class="login-logo">
                <img src="~/images/atkimg/altyapilogo.png" alt="Alternate Text" style="width:35%">
                <h3 style="color:white">
                    <b>TEN-İS</b>
                    <br />
                    Tenis İşletim Sistemi
                </h3>
            </div>

            <div class="card-body login-card-body" style="background-color:transparent">
                <div id="loginButtons">

                    <div class="input-group mb-3">
                        <input type="text" id="username" class="form-control" placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span style="color:white;" class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="password" class="form-control" placeholder="Şifre" autocomplete="new-password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span style="color:white;" class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="checkLocal">
                                <label for="remember" style="color:wheat">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>



                        <div class="col-4">
                            <button type="submit" class="btn btn-warning btn-block" onclick="signIn()">Giriş Yap</button>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class=" modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center; color:orangered" class="modal-title">Giriş Yapacağınız Rolünüzü Seçiniz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-top:1rem" class="form-group col-md-12">

                <div class="input-group">
                    <select id="roles" class="form-control">
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="signIn2()">Giriş Yap</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/adminRoot/js/adminlte.js"></script>
<script src="~/lib/jquery/dist/jquery-confirm.js"></script>
<script src="~/adminRoot/js/loading.js"></script>


<script>


    var now = new Date();
    var month = (now.getMonth() + 1);
    var day = now.getDate();

    if (month < 10)
        month = "0" + month;
    if (day < 10)
        day = "0" + day;

    var today = now.getFullYear() + '-' + month + '-' + day;

    $(document).ready(function () {


    });

    $('#loginButtons').keypress(function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            signIn();
        }
    });



    function getsettings(id, role) {

        $.ajax({
            type: "Get",
            url: '../Settings/GetSettings',
            cache: false,
            data: { "companyId": id },
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;

                if (res == "false") {
                    alert("Error Api");
                    setTimeout(function () { $("body").loading('destroy'); });

                }

                else if (role != "Yönetici" && role != "Sekreterya") {

                    /*   setTimeout(function () { $("body").loading('destroy'); });*/
                    window.location.href = "../Public/Reservation?date=" + today;
                }
                else

                    //setTimeout(function () { $("body").loading('destroy'); });
                    window.location.href = "../AdminHome/Index";

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }


    function signIn2() {

        $('body').loading({

            theme: 'light',
            stoppable: false,
            message: '<div><img src="../images/atkimg/spinner4.gif" style="width:100px;" /></div>'

        });

        setTimeout(function () { $("body").loading('destroy'); }, 1000);


        $.ajax({
            type: "Get",
            url: '../Public/SignInReq',
            cache: false,
            data: { "UserName": $("#username").val(), "Password": $("#password").val(), "RoleName": $("#roles option:selected").text(), "RoleId": $("#roles option:selected").val() },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res.comp_Id != "") {

                    getsettings(res.comp_Id, res.custom_role);
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function signIn() {

        $('body').loading({

            theme: 'dark',
            stoppable: false,
            message: '<div><img src="../images/atkimg/spinner4.gif" style="width:120px;" /></div>'

        });


        try {
            $.ajax({
                type: "Get",
                url: '../Public/GetRoles',
                cache: false,
                data: { "UserName": $("#username").val(), "Password": $("#password").val() },
                dataType: "json",
                async: true,
                success: function (res) {


                    if (res == "false") {

                        $.confirm({
                            title: "Uyarı",
                            content: "Kullanıcı Adı ve/veya Şifre Hatalı.",
                            buttons: {
                                TAMAM: function () {

                                }
                            }
                        });

                        setTimeout(function () { $("body").loading('destroy'); }, 1000);

                    }

                    if (res.custom_role.length > 1) {

                        row = "";

                        $("#roles").empty();

                        for (var i = 0; i < res.custom_role.length; i++) {

                            row += '<option value="' + res.custom_roleId[i] + '">' + res.custom_role[i] + '</option>';

                            $("#roles").append(row);
                        }

                        $('#myModal').modal('toggle');

                        setTimeout(function () { $("body").loading('destroy'); }, 1000);
                    }

                    else if (res.custom_role.length == 1) {

                        $.ajax({
                            type: "Get",
                            url: '../Public/SignInReq',
                            cache: false,
                            data: { "UserName": $("#username").val(), "Password": $("#password").val(), "RoleName": res.custom_role[0], "RoleId": res.custom_roleId[0] },
                            dataType: "json",
                            async: true,
                            success: function (res) {

                                if (res.comp_Id != "") {

                                    getsettings(res.comp_Id, res.custom_role);
                                }

                            },
                            error: function (textStatus, errorThrown) {
                                console.log(JSON.stringify(textStatus));
                                console.log(textStatus);
                            }
                        });
                    }


                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        } catch (e) {
            console.log(e.message);
        }
    }
</script>

