
@{
    Layout = null;
}


<!DOCTYPE html>


<title>Atk Giriş Ekranı</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/adminRoot/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
<link href="~/adminRoot/css/adminlte.min.css" rel="stylesheet" />
<link href="~/adminRoot/css/jquery-confirm.css" rel="stylesheet" />


<body class="hold-transition login-page" style="background-color:#424242">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/atkimg/altyapilogo.png" alt="Alternate Text" style="width:35%">
            <h3 style="color:white">
                <b>TEN-İS</b>
                <br />
                Tenis İşletim Sistemi
            </h3>
        </div>

        <!-- /.login-logo -->
        <div class="card" style="background-color:transparent">
            <div class="card-body login-card-body" style="background-color:transparent">
                <div id="loginButtons">

                    <div class="input-group mb-3">
                        <input type="text" id="username" class="form-control" placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="password" class="form-control" placeholder="Şifre" autocomplete="new-password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="checkLocal">
                                <label for="remember" style="color:wheat">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>

                       
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-warning btn-block" onclick="signIn()">Giriş Yap</button>
                        </div>
                        

                        <!-- /.col -->
                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/adminRoot/js/adminlte.js"></script>
<script src="~/lib/jquery/dist/jquery-confirm.js"></script>
<script src="~/adminRoot/js/loading.js"></script>

<script>

    var now = new Date();
    var month = (now.getMonth() + 1);
    var day = now.getDate();

    if (month < 10)
        month = "0" + month;
    if (day < 10)
        day = "0" + day;

    var today = now.getFullYear() + '-' + month + '-' + day;

    $(document).ready(function () {
        $(function () {
            if (localStorage.getItem("loginCheck") == "true") {
                $("#checkLocal").prop('checked', true);

                if (localStorage.userName && localStorage.password) {

                    $("#username").val(localStorage.getItem("userName"));
                    $("#password").val(localStorage.getItem("password"));
                    

                    var a = localStorage.getItem("userName")
                    var b = localStorage.getItem("password")

                   

                    $.ajax({
                        type: "Get",
                        url: '../Public/SignInReq',
                        cache: false,
                        data: { "UserName": a , "Password": b },
                        dataType: "json",
                        async: true,
                        success: function (res) {

                            

                            if (res.NAME <= 0) {
                                $.confirm({
                                    title: "Uyarı",
                                    content: "Kullanıcı Adı ve/veya Şifre Hatalı.",
                                    buttons: {
                                        TAMAM: function () {
                                           
                                        }
                                    }
                                });

                                
                            }



                            else {

                              

                                window.location.href = "../AdminHome/Index";
                            }
                        }
                    });

                }
            }

        })
    });

    $('#loginButtons').keypress(function (e) {
        var key = e.which;
        if (key == 13)  // the enter key code
        {
            signIn();
        }
    });   

    function signIn() {

      
      

        try {
            $.ajax({
                type: "Get",
                url: '../Public/SignInReq',
                cache: false,
                data: { "UserName": $("#username").val(), "Password": $("#password").val() },
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res == "true") {
                        localStorage.setItem("userName", $("#username").val());
                        localStorage.setItem("password", $("#password").val());

                        if ($("#checkLocal").is(':checked')) {

                            var check = "true"

                        }                  

                        else {

                            var check = "false"
                        }

                       
                        localStorage.setItem("loginCheck", check);
                        
                       

                        window.location.href = "../AdminHome/Index";
                    }

                    else
                        $.confirm({
                            title: "Uyarı",
                            content: "Kullanıcı Adı/Şifre Hatalı.",
                            buttons: {
                                TAMAM: function () {

                                   

                                }
                            }
                        });

                    
                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        } catch (e) {
            console.log(e.message);
        }
    }
</script>

