<style>
    button {
        border: none !important;
    }
</style>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


@{
    
    var currentUserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var compId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
}

<h2 style="display:none" id="currentUserId">@currentUserId</h2>
<h2 style="display:none" id="compId">@compId</h2>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Aidat Ödeme İşlemleri</h3>
                            </div>

                            <div id="selTime">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li style="margin-right:5px; border-radius:20px" class="page-item"><input id="memberFind" style="height:38px" type="search" class="form-control form-control-sm" placeholder="Üye Ara" aria-controls="example2"></li>
                                        <li class="page-item"> <button style="border-color:inherit !important " class="btn btn-dark" onclick="getList()">Getir</button></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet light" style="padding: 15px;">
                            <div class="alert alert-info" style="margin-bottom: 0; background-color:#343a40">
                                <strong>Rezervasyon Ödemesi!</strong> İlgili üye bilgisini bularak işleme devam ediniz.
                            </div>
                        </div>
                    </div>

                    <div class="card" style="border-radius:30px">
                        <div id="appendResInf">
                            <div class="portlet-body">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ödeme Al</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <h5>Ödeme Al</h5>
                                <table class="table table-bordered" style=" margin-bottom: 0;">
                                    <tbody>
                                        <tr class="note note-danger">
                                            <td style="">Ödenen Miktar:</td>
                                            <td style="">
                                                <input type="text" id="paidPrice" class="form-control" placeholder="Ödenen Miktar">
                                            </td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="vertical-align:middle;width: 112px;">Ödeme Tipi:</td>
                                            <td style="">
                                                <select class="form-control OdemeTipi" id="paymentType" data-id="28911">
                                                    <option value="1">Nakit</option>
                                                    <option value="2">Kredi Kartı</option>
                                                    <option value="3">Havale </option>
                                                    <option value="4">Eft </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Makbuz No:</td>
                                            <td style=""><input type="text" id="receiptNo" class="form-control" placeholder="Makbuz No"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Makbuz Tarihi:</td>
                                            <td><input class="form-control" type="date" id="receiptDate" style="cursor:pointer;"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Açıklama:</td>
                                            <td style=""><input type="text" id="explain" class="form-control  kotagizle" placeholder="Açıklama"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td>Ücreti:</td>
                                            <td>
                                                <input disabled type="text" class="form-control" id="price" autocomplete="new-password">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <h5>Ödeme Geçmişi</h5>
                                <table class="table table-bordered" style="text-align:center;">
                                    <thead>
                                        <tr>

                                            <th>#</th>
                                            <th>Adı</th>
                                            <th>Aidat Türü</th>
                                            <th>Miktar</th>
                                            <th>Ödenen</th>
                                            <th>Kalan</th>

                                        </tr>
                                    </thead>
                                    <tbody id="allLastOp">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paidOp" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="getPaidOperations(this.id)">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/linq.min.js"></script>


<script>

    function dataTable() {

        $('#resList').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 15,
          buttons: [{ extend: 'pdf', title: 'Aidat  Borçları' }, { extend: 'print', title: 'Aidat  Borçları'}]
        })
            .buttons().container().appendTo('#resList_wrapper .col-md-6:eq(0)');
    }
    var compId = $("#compId").text();

    findMemberTotal();

    function getPaidOperations(id) {

        debugger;

        var userId = $(".userId").val();
        var currentUserId = $("#currentUserId").text();
        var price = $("#price").val();
        var paidPrice = $("#paidPrice").val();
        var receiptNo = $("#receiptNo").val();
        var receiptDate = $("#receiptDate").val();
        var explain = $("#explain").val();


        if (userId == "" || currentUserId == "" || price == "" || paidPrice == "" || receiptNo == "" || receiptDate == "" || explain == "") {

            alert("Lütfen Tüm Bilgileri Eksiksiz Doldurunuz !");
        }
        else {

            if (parseInt(price) - parseInt(paidPrice) < 0) {

                alert("fazla tutar girdiniz !");
            }
            else {
                $.ajax({
                    type: "Get",
                    url: '../AdminHome/GetPaid',
                    cache: false,
                    dataType: "json",
                    data: { "userId": userId, "compId": compId, "refId": id, "refType": 2, "doUserId": currentUserId, "price": price, "paidPrice": paidPrice, "remainingPrice": parseInt(price) - parseInt(paidPrice), "paymentType": 1, "receiptNo": receiptNo, "receiptDate": receiptDate, "explain": explain },
                    async: true,
                    success: function (res) {

                        if (res != null) {

                            swal({
                                title: "Ödeme Başarılı",
                                text: "Ödeme Başarılı Şekilde Alındı !",
                                icon: "success",
                                button: "Tamam",
                                timer: 500,
                            }).then((value) => {

                                $('#exampleModal').modal('toggle')
                                getList();

                            });
                        }

                    },

                    error: function (textStatus, errorThrown) {
                        console.log(JSON.stringify(textStatus));
                        console.log(textStatus);
                    }
                });
            }


        }
    }


    function findMemberTotal() {

        $.ajax({
            type: "Get",
            url: '../Public/UserList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {



                var mem = [];

                for (var i = 0; i < res.memberLists.length; i++) {

                    if (res.memberLists[i].companyId == compId) {

                        mem.push(res.memberLists[i].memberNumber + ' - ' + res.memberLists[i].fullName + ' - ' + res.memberLists[i].nickName);
                    }
                  
                }

                $("#memberFind").autocomplete({
                    source: mem,
                });


            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }


    function getPaid(id) {

        $("#paidOp button:nth-of-type(2)").attr("id", id);

        var dt = new Date();
        var dd = String(dt.getDate()).padStart(2, '0');
        var mm = String(dt.getMonth() + 1).padStart(2, '0');
        var yyyy = dt.getFullYear();

        var today = yyyy + '-' + mm + '-' + dd;

        $("#receiptDate").val(today)

        $.ajax({
            type: "Get",
            url: '../AdminHome/GetDuesInf',
            cache: false,
            dataType: "json",
            data: { "id": id },
            async: true,
            success: function (res) {

                debugger;
                $("#allLastOp").empty();

                if (res.allGetPaidLogs.length > 0) {

                    row = "";

                    for (var x = 0; x < res.allGetPaidLogs.length; x++) {

     
                        row += '<tr>';
                        row += '<td>' + x + '</td>';
                        row += '<td>' + res.memberDuesInf.memberFullName + '</td>';
                        row += '<td>' + res.memberDuesInf.duesType + '</td>';
                        row += '<td>' + res.allGetPaidLogs[x].price + "₺" + '</td>';
                        row += '<td style="font-weight:bold">' + res.allGetPaidLogs[x].paidPrice + "₺" + '</td>';
                        row += '<td>' + res.allGetPaidLogs[x].remainingPrice + "₺" + '</td>';
                        row += '</tr>';

                    }

                    $("#allLastOp").append(row);

                }

                if (res.memberDuesInf.remainingPrice != 0) {

                    $("#price").val(res.memberDuesInf.remainingPrice)
                }

                else {
                    $("#price").val(res.memberDuesInf.remainingPrice)
                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

        $('#exampleModal').modal('toggle')
    }


    function getList() {



        $.ajax({
            type: "Get",
            url: '../Public/UserList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;
                var userName = $("#memberFind").val();
                var sptUserName = userName.split("-");
                var memNum = sptUserName[0];


                var memberInf = Enumerable.from(res.memberLists)
                    .where(function (x) { return x.memberNumber == memNum.trim() && x.companyId == compId })
                    .select(function (x) { return x }).toArray();


                if (memberInf.length > 0) {

                    var id = memberInf[0].userId;

                    $.ajax({
                        type: "Get",
                        url: '../AdminHome/GetDuesDebtMember',
                        cache: false,
                        dataType: "json",
                        data: { "id": id },
                        async: true,
                        success: function (res) {

                            debugger;

                            $("#appendResInf").empty();

                            var totalPrice2 = 0;

                            for (var i = 0; i < res.memberDuesInfTables.length; i++) {

                                if (res.memberDuesInfTables[i].companyId == compId && res.memberDuesInfTables[i].duesInfType == false) {

                                    var firstPrice2 = res.memberDuesInfTables[i].remainingPrice;
                                    var totalPrice2 = firstPrice2 + totalPrice2;
                                }
                            }

                            row = "";
                            row += '<div id="asd" class="card-body">';
                            row += '<div  class="d-flex justify-content-between">';
                            row += '<h4 style="margin-bottom:30px">Üye Aidat Borçları</h4>';
                            row += '<h4 style="margin-bottom:30px">Toplam Borç:' + totalPrice2 + '</h4>';
                            row += '</div>';
                            row += '<table id="resList" class="table table-bordered table-hover">';
                            row += '<thead>';
                            row += '<tr style="text-align:center">';
                            row += '<th>Üye Numarası</th>';
                            row += '<th>Adı - Soyadı</th>';
                            row += '<th>Aidat Yılı</th>';
                            row += '<th>Aidat Türü</th>';
                            row += '<th>Aidat Ücreti</th>';
                            row += '<th>Ödenen Ücret</th>';
                            row += '<th>Kalan Ücret</th>';
                            row += '<th>Borçlandırma Tarihi</th>';
                            row += '<th>Açıklama</th>';
                            row += '<th>Borç Durumu</th>';
                            row += '<th>İşlemler</th>';
                            row += '</tr>';
                            row += '</thead>';
                            row += '<tbody>';


                            for (var i = 0; i < res.memberDuesInfTables.length; i++) {

                                if (res.memberDuesInfTables[i].priceCondition == false && res.memberDuesInfTables[i].duesInfType == false && res.memberDuesInfTables[i].companyId == compId) {

                                  
                                    row += '<tr style="text-align:center" id="">';      
                                    row += '<td>' + memberInf[0].memberNumber + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].memberFullName + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].duesYear + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].duesType + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].duesPrice + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].paidPrice + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].remainingPrice + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].date + '</td>';
                                    row += '<td>' + res.memberDuesInfTables[i].explain + '</td>';

                                    if (res.memberDuesInfTables[i].priceCondition == true) {

                                        row += '<td>' + "Ödendi" + '</td>';
                                    }
                                    else {
                                        row += '<td>' + "Ödenmedi" + '</td>';
                                    }
                                    row += '<td><button class="btn btn-outline-dark userId" value="' + memberInf[0].userId + '" id="' + res.memberDuesInfTables[i].memberDuesInfTableId + '" onclick="getPaid(this.id) "><i class="fas fa-wallet"></i></button></td>';

                                    row += '</tr>';
                               
                                }

                            }

                            row += '</tbody>';
                            row += '</table>';
                            row += '</div>';
                            row += '</div>';

                            $("#appendResInf").append(row);

                            dataTable();

                        },

                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }


</script>