
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


@{
    var currentUserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var compId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
}

<h2 style="display:none" id="currentUserId">@currentUserId</h2>
<h2 style="display:none" id="compId">@compId</h2>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Rezervasyon Listesi</h3>
                            </div>

                            <div id="selTime">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li style="margin-right:15px" class="page-item"><input id="findMember" style="height:38px" type="search" class="form-control form-control-sm" placeholder="Üye - Okul - Performans Ara" aria-controls="example2"></li>
                                        <li style="margin-right:15px" class="page-item"><input class="form-control" type="date" id="dateStart" style="cursor:pointer;"></li>
                                        <li style="margin-right:15px" class="page-item"><input class="form-control" type="date" id="dateFinish" style="cursor:pointer; "></li>
                                        <li class="page-item"> <button style="border-color:inherit !important " class="btn btn-dark" onclick="findAllRes()">Mevcut Rezervasyonları Getir</button></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div id="idCard" class="card" style="border-radius:40px ; margin-top:15px ; display:none">
                            <div class="card-content">
                                <div class="card-body cleartfix">
                                    <div class="media align-items-stretch">
                                        <div class="align-self-center">
                                            <i style="font-size:60px; margin-right:20px ; color:darkmagenta" class="fas fa-id-card"></i>
                                        </div>
                                        <div class="media-body">
                                            <div id="identityInf">

                                            </div>
                                        </div>



                                        <div class="align-self-center">
                                            <button style="border-color:inherit !important; " class="btn btn-dark" onclick="cancelAllRes()">Seçili Rezervasyonları İptal Et</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div id="appendResInf">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/lib/jquery/dist/linq.min.js"></script>



<script>

    var dt = new Date();
    var dd = String(dt.getDate()).padStart(2, '0');
    var mm = String(dt.getMonth() + 1).padStart(2, '0');
    var yyyy = dt.getFullYear();

    var today = yyyy + '-' + mm + '-' + dd;

    $('#dateStart').val(today);


    var date = $("#dateStart").val();

    const d = new Date(date);
    d.setDate(d.getDate() + 7);

    var month = (d.getMonth() + 1);
    var day = d.getDate();
    if (month < 10)
        month = "0" + month;
    if (day < 10)
        day = "0" + day;

    var date3 = d.getFullYear() + '-' + month + '-' + day;

    $('#dateFinish').val(date3);

    $(document).ready(function () {


        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $('#asd , #example3 , #example4').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "buttons": ["print"]
        }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');




        findMember();
    });
    var compId = $("#compId").text();

    function findMember() {



        $.ajax({
            type: "Get",
            url: '../AdminHome/GetUserSchoolList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {

                var mem = [];


                for (var i = 0; i < res.memberLists.length; i++) {

                    if (res.memberLists[i].companyId == compId) {
                        mem.push(res.memberLists[i].memberNumber + ' - ' + res.memberLists[i].fullName + ' - ' + res.memberLists[i].nickName);
                    }

                }


                for (var i = 0; i < res.courtScales.length; i++) {



                    var checkRole = Enumerable.from(res.memberLists)
                        .where(function (x) { return x.role.toLowerCase() == res.courtScales[i].name.toLowerCase() && x.companyId == compId })
                        .select(function (x) { return x }).toArray();


                    if (checkRole.length == 0) {

                        if (res.courtScales[i].companyId == compId) {

                            mem.push(res.courtScales[i].code + ' - ' + res.courtScales[i].name);
                        }

                    }

                }


                $("#findMember").autocomplete({
                    source: mem
                });


            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function findAllRes() {



        var userName = $("#findMember").val();
        var startDate = $("#dateStart").val();
        var finishDate = $("#dateFinish").val();


        var memberUserName = userName.split("-");

        var whoRes = memberUserName[2];

        if (whoRes == undefined) {

            whoRes = memberUserName[0];
        }

        if (whoRes == "" || startDate == "" || finishDate == "") {

            alert("Lütfen Bilgileri Eksiksiz Giriniz !!");
        }

        else {
            $.ajax({
                type: "Get",
                url: '../AdminHome/GetResDetailSearch',
                cache: false,
                dataType: "json",
                data: { "whoRes": whoRes, "startDate": startDate, "finishDate": finishDate },
                async: true,
                success: function (res) {

                    debugger;

                    if (res != "false") {

                        $("#idCard").css({ display: "block" });

                        $("#identityInf").empty();


                        row = "";

                        if (memberUserName.length > 2) {

                            row += '<h4>' + memberUserName[1] + ' - ' + memberUserName[2] + '</h4>';
                            row += '<span>' + memberUserName[0] + '</span>';
                        }
                        else {

                            row += '<h4>' + userName + '</h4>';
                        }



                        $("#identityInf").append(row);


                        $("#appendResInf").empty();


                        row = "";
                        row += '<div id="asd" class="card-body">';
                        row += '<table id="resList" class="table table-bordered table-hover">';
                        row += '<thead>';
                        row += '<tr style="text-align:center">';
                        row += '<th>Reservasyon Id</th>';
                        row += '<th>Reservasyon Tarihi</th>';
                        row += '<th>Reservasyon Saati</th>';
                        row += '<th>Kort Bilgisi</th>';
                        row += '<th>Ücret Durumu</th>';
                        row += '<th>İşlemler</th>';
                        row += '</tr>';
                        row += '</thead>';
                        row += '<tbody>';



                        for (var i = 0; i < res.length; i++) {

                            if (res[i].companyId == compId) {

                                row += '<tr style="text-align:center" id="">';
                                row += '<td>' + res[i].resId + '</td>';
                                row += '<td>' + res[i].resDate + '</td>';
                                row += '<td>' + res[i].resStartTime + "-" + res[i].resFinishTime + '</td>';
                                row += '<td>' + res[i].court.courtName + '</td>';

                                if (res[i].priceInf == true) {
                                    row += '<td>' + "Ödendi" + '</td>';
                                }
                                else {
                                    row += '<td>' + "Ödenmedi" + '</td>';
                                }

                                row += '<td>';
                                row += '<div class="custom-control custom-switch">';

                                debugger;

                                if (new Date(res[i].resDate) < new Date(today)) {

                                    row += '<input type="checkbox" class="custom-control-input" style="cursor:pointer" disabled="true" id="' + res[i].resId + '">';
                                    row += '<label class="custom-control-label" for="' + res[i].resId + '"></label>';

                                }

                                else if (new Date(res[i].resDate) == new Date(today)) {

                                    row += '<input type="checkbox" class="custom-control-input" style="cursor:pointer" disabled="true" id="' + res[i].resId + '">';
                                    row += '<label class="custom-control-label" for="' + res[i].resId + '"></label>';

                                }

                                else {
                                    row += '<input type="checkbox" class="custom-control-input" style="cursor:pointer" id="' + res[i].resId + '">';
                                    row += '<label class="custom-control-label" for="' + res[i].resId + '"></label>';
                                }

                                row += '</div>';
                                row += '</td>';
                                row += '</tr>';

                            }
                        }

                        row += '</tbody>';
                        row += '<tfoot style="text-align:center; font-weight:bold">';
                        row += '<tr>';
                        row += '<td></td>';
                        row += '<td></td>';
                        row += '<td></td>';
                        row += '<td></td>';
                        row += '<td>Tümünü Seç</td>';
                        row += '<td>';
                        row += '<div class="custom-control custom-switch">';
                        row += '<input type="checkbox" class="custom-control-input" onchange="checkedAll(this)" style="cursor:pointer" id="' + 'allChecked' + '">';
                        row += '<label class="custom-control-label" for="' + 'allChecked' + '"></label>';
                        row += '</div>';
                        row += '</td>';
                        row += '</tfoot>';

                        row += '</table>';
                        row += '</div>';
                        row += '</div>';

                        $("#appendResInf").append(row);
                    }

                    else {

                        $("#appendResInf").empty();

                        alert("Kriterlere Uygun Rezervasyon  Kaydı Bulunamadı");
                    }




                },

                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        }

    }

    function checkedAll(element) {

        if (element.checked) {

            $('#resList input[type=checkbox]:not(:disabled)').prop('checked', true);
        }
        else {

            $('#resList input[type=checkbox]:not(:disabled)').prop('checked', false);
        }
    }

    function cancelAllRes() {

        debugger;

        var idList = [];

        var idLists = "";

        $('#resList input:checked:not(:disabled)').each(function () {

            idList.push(this.id);
        });

        newStr = "";

        for (var i = 0; i < idList.length; i++) {

            if (idList[i] != "allChecked") {
                var str = idList[i];

                newStr = str + ",";

                var idLists = newStr + idLists;
            }
        }



        $.ajax({
            type: "GET",
            url: '../AdminHome/CancelAllRes',
            cache: false,
            data: { "idLists": idLists },
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;


                if (res != "true") {

                    $.confirm({
                        title: "Rezervasyon Tarihi Geçmiş Rezervasyonlar Silinemez /Yada/  Lütfen Seçim Yapınız",
                        content: "Dikkat.",
                        buttons: {
                            TAMAM: function () {

                            }
                        }
                    });
                }

                else {
                    swal({
                        title: "Rezervasyon Başarılı",
                        text: "Rezervasyon Kaydınız Başarılı Bir Şekilde Gerçekleşti !",
                        icon: "success",
                        button: "Tamam",
                        timer: 500,
                    }).then((value) => {

                        findAllRes();

                    });
                }

            },
            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

</script>

