@model List<Helpers.Dto.ViewDtos.CourtDto>;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    var CompId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<style>

    input {
        border-color: #f0b800 !important;
    }

    .reservationForm {
        padding: 0.8rem 0 0 0 !important;
        border: 0.5px solid #dedede !important;
        margin: 0.1rem !important;
    }

    .custom-control2 {
        padding: 0.2rem !important;
    }

    .custom-control-label2::before {
        top: -0.75rem !important;
        left: 0.8rem !important;
    }

    .custom-control-label2::after {
        top: -0.75rem !important;
        left: 0.8rem !important;
    }
</style>

<div style="display:none" class="modal-footer">
    <textbox style="color:black; " id="userId">@userId</textbox>
</div>
<h2 style="display:none" id="compId">@CompId</h2>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="sticky-top mb-3">
                        <div class="card">
                            <div style="background-color:#343a40; color:white;" class="card-header">
                                <h4 class="card-title">Çoklu Rezervasyon Kontrol</h4>
                            </div>
                            <div class="card-body">

                                <div id="selCourt">
                                    <label>Kort Seçimi:</label>
                                    <select id="courtInf" class="form-control">
                                        @foreach (var item in Model)
                                        {
                                            if (item.CompanyId == CompId)
                                            {
                                                <option value="@item.CourtId">@item.CourtName</option>
                                            }

                                        }


                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Başlangıç Tarihi:</label>
                                    <input class="form-control" type="date" id="timeNow" style="cursor:pointer;">
                                </div>

                                <div class="form-group">
                                    <label>Başlangıç Tarihi:</label>
                                    <input class="form-control" type="date" id="timeTwoNow" style="cursor:pointer; ">
                                </div>


                                <div id="checkDays">
                                    <label>Gün Seçiniz:</label>

                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Pazartesi" id="mon">
                                        <label class="custom-control-label" for="mon">Pazartesi</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Salı" id="tue">
                                        <label class="custom-control-label" for="tue">Salı</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Çarşamba" id="wed">
                                        <label class="custom-control-label" for="wed">Çarşamba</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Perşembe" id="thu">
                                        <label class="custom-control-label" for="thu">Perşembe</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Cuma" id="fri">
                                        <label class="custom-control-label" for="fri">Cuma</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Cumartesi" id="sat">
                                        <label class="custom-control-label" for="sat">Cumartesi</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" value="Pazar" id="sun">
                                        <label class="custom-control-label" for="sun">Pazar</label>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <button style="margin-top:15px;" type="button" class="btn btn-dark" onclick="findSuitability()">Uygunluk Durumu Ara</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet-body col-md-8">

                    <div class="portlet light" style="padding: 15px;">
                        <div class="alert alert-info" style="margin-bottom: 0; background-color:#343a40">
                            <strong>Çoklu Rezervasyon Yap!</strong> İlgili Alanları Doldurarak İşleme Devam Ediniz.                            
                        </div>
                    </div>

                    <div class="portlet light" style="padding: 15px;">
                        <div class="alert alert-info" style="margin-bottom: 0; background-color:#343a40">          
                            <strong>Önemli!</strong> Gün Bilgileri Boş Bırakılamaz.. Seçtiğiniz Tarihler arasındaki hangi günlere rezervasyon yapmak istiyorsanız lütfen işaretleyiniz !
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="rsvModal">
    <div class="modal-dialog modal-lg" style="max-width:1000px; ">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#efefef;">
                <h5 style="margin:auto; font-family:sans-serif; color:inherit">Çoklu Rezervasyon Yap</h5>
            </div>

            <div class="modal-header">
                <div class="row">
                    <div id="findMem" class="col-lg-4">
                        <form autocomplete="off">
                            <div class="form-inline">
                                <input type="text" class="form-control ui-autocomplete-input" id="findMember" placeholder="Üye Ara" autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="CourtandTime">

            </div>

            <div class="modal-header">
                <div class="row" id="court_select">
                    <div id="ResModal" style="display: contents;">

                    </div>
                </div>
            </div>

            <div class="modal-footer" id="forApproveId">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="Approve()">Rezervasyon Yap</button>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/linq.min.js"></script>
<script>
    $(document).ready(function () {

        var dt = new Date();
        var dd = String(dt.getDate()).padStart(2, '0');
        var mm = String(dt.getMonth() + 1).padStart(2, '0');
        var yyyy = dt.getFullYear();

        var today = yyyy + '-' + mm + '-' + dd;

        $('#timeNow').val(today);


        var date = $("#timeNow").val();

        const d = new Date(date);
        d.setDate(d.getDate() + 7);

        var month = (d.getMonth() + 1);
        var day = d.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;

        var date3 = d.getFullYear() + '-' + month + '-' + day;

        $('#timeTwoNow').val(date3);

    });

    var compId = $("#compId").text();

    function findMember() {


        $.ajax({
            type: "Get",
            url: '../AdminHome/GetUserSchoolList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {


                var mem = [];


                for (var i = 0; i < res.courtScales.length; i++) {


                    //var checkRole = Enumerable.from(res.memberLists)
                    //    .where(function (x) { return x.role.toLowerCase() == res.courtScales[i].name.toLowerCase() })
                    //    .select(function (x) { return x }).toArray();
                    if (res.courtScales[i].companyId == compId) {

                        if (res.courtScales[i].name != "Üye" && res.courtScales[i].name != "Antrenör" && res.courtScales[i].name != "Sekreterya" && res.courtScales[i].name != "Yönetici") {

                            mem.push(res.courtScales[i].code + ' - ' + res.courtScales[i].name);

                        }
                    }
                  
                }


                $("#findMember").autocomplete({
                    source: mem
                });


            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    function findSuitability() {



        var day = [];
        $('#checkDays input:checked').each(function () {
            day.push(this.value);
        });

        var lastDays = "";

        for (var i = 0; i < day.length; i++) {

            var days = day[i];
            lastDays = days + "," + lastDays;
        }



        var courtId = $("#courtInf option:selected").val();
        var date = $("#timeNow").val();
        var date2 = $('#timeTwoNow').val();


        if (courtId == "" || date == "" || date2 == "" || lastDays == "") {



            swal({
                title: "Rezervasyon Onaylanmadı",
                text: "Lütfen Bilgileri Eksiksiz Giriniz!",
                icon: "error",
                button: "Tamam",
            }).then((value) => {



            });

        }

        else {

            $.ajax({

                type: "POST",
                url: '../AdminHome/GetResTimeMulti',
                cache: false,
                data: { "courtId": courtId, "dateInf": date, "date2": date2, "day": lastDays },
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res != null) {

                       

                        $("#ResModal").empty();

                        for (var i = 0; i < res.length; i++) {

                            NewRow = "";


                            if (res[i].isTaken == true) {
                                NewRow += '<div style="background-color:rgb(236, 0, 18);" class="form-group reservationForm">';
                                NewRow += '<div class="custom-control custom-checkbox custom-control2" id="checkTimeTable">';
                                NewRow += '<input class="custom-control-input custom-control-input-danger custom-control-input-outline" type="checkbox" id="customCheckbox5" checked="" disabled="">';
                                NewRow += '<label style="color:white; font-weight:inherit;" for="t_' + res[i].timeId + '" class="custom-control-label custom-control-label2">' + res[i].start + '</label>';
                                NewRow += '</div></div>';
                            }


                            else {

                                NewRow += '<div  class="form-group reservationForm">';
                                NewRow += '<div class="custom-control custom-checkbox custom-control2 " id="checkTimeTable">';
                                NewRow += '<input onclick="checkMe(this.id)" class="custom-control-input custom-control-input-primary" type="checkbox" id= "t_' + res[i].timeId + '" name= "' + res[i].start + '" per= "' + res[i].period + '">';
                                NewRow += '<label style="font-weight:inherit;" for="t_' + res[i].timeId + '" class="custom-control-label custom-control-label2">' + res[i].start + '</label>';
                                NewRow += '</div></div>';
                            }

                            //$("#CourtandTime").empty();
                            //row = "";
                            //row += '<div class="modal-header" style="background-color: #004e6c;">';
                            //row += '<h4 style=" margin:auto; color:white"><i class="fas fa-flag nav-icon"></i>' + ' ' + "Antuka" + ' ' + ' - ' + ' ' + date + '  ' + '  ' +'  ' + date2 + ' ' + ' - ' + ' ' + "day" + ' ' + ':' + ' ' + '</h4>';
                            //row += '</div>';
                            //$("#CourtandTime").append(row);

                            $("#ResModal").append(NewRow);
                        }

                        $('#rsvModal').modal('toggle');

                        findMember();
                    }
                    else {
                        $.confirm({
                            title: "Uyarı",
                            content: " Lütfen sonra tekrar deneyiniz.",
                            buttons: {
                                TAMAM: function () {

                                }
                            }
                        });
                    }

                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        }

    }

    function checkMe(id) {

        var per = $("#" + id).attr("per");
        var checkID = parseInt(id.split("_")[1]);

        var checkList = [];
        var checkTrueList = [];


        $('#checkTimeTable input:checked:not(:disabled)').each(function () {
            checkTrueList.push(this.id);
        });

        for (var i = 0; i < checkTrueList.length; i++) {

            var x = checkTrueList[i];

            if (x != id) {

                checkList.push(x);
            }

        }
        checkList.push(id);



        if (per == 15) {

            if (checkTrueList.length < 4 && checkTrueList.length == 3) {

                for (var i = 0; i < checkTrueList.length; i++) {

                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', false);
                }
            }


            else if (checkTrueList.length < 4 && checkTrueList.length != 1) {

                for (var i = 0; i < checkTrueList.length; i++) {

                    $("#t_" + i).prop('checked', false);
                }

            }



            else if (checkTrueList.length > 4 && checkList[checkList.length - 1].split("_")[1] - checkList[checkList.length - 2].split("_")[1] == 1) {

                for (var i = 0; i < checkTrueList.length; i++) {
                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', true);
                }

            }


            else if (checkTrueList.length > 4) {

                for (var i = 0; i < checkTrueList.length; i++) {
                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', false);
                }


                for (var i = checkID; i < (checkID + 4); i++) {

                    $("#t_" + i).prop('checked', true);

                    checkList.push("t_" + i);

                }
            }

            else
                for (var i = checkID; i < (checkID + 4); i++) {

                    $("#t_" + i).prop('checked', true);

                    checkList.push("t_" + i);

                }
        }

        else if (per == 30) {

            if (checkTrueList.length > 2 && checkList[checkList.length - 1].split("_")[1] - checkList[checkList.length - 2].split("_")[1] == 1) {

                for (var i = 0; i < checkTrueList.length; i++) {
                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', true);
                }

            }

            else if (checkTrueList.length > 2) {

                for (var i = 0; i < checkTrueList.length; i++) {

                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', false);
                }


                for (var i = checkID; i < (checkID + 2); i++) {

                    $("#t_" + i).prop('checked', true);

                    checkList.push("t_" + i);


                }
            }

            else if (checkTrueList.length == 1) {


                for (var i = 0; i < checkTrueList.length; i++) {

                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', false);
                }


                for (var i = checkID; i < (checkID + 2); i++) {

                    $("#t_" + i).prop('checked', true);

                    checkList.push("t_" + i);


                }
            }

        }

        else

            if (checkTrueList.length > 1) {

                for (var i = 0; i < checkTrueList.length; i++) {

                    var checkedTime = checkTrueList[i];

                    $('#' + checkedTime).prop('checked', false);
                }


                for (var i = checkID; i < (checkID + 1); i++) {

                    $("#t_" + i).prop('checked', true);

                    checkList.push("t_" + i);


                }
            }
    }

    function Approve(id) {

     

        
        // seçilen saatler
        var times = [];
        $('#checkTimeTable input:checked:not(:disabled)').each(function () {
            times.push(this.name);
        });

        var day = [];
        $('#checkDays input:checked').each(function () {
            day.push(this.value);
        });

        var lastDays = "";

        for (var i = 0; i < day.length; i++) {

            var days = day[i];
            lastDays = days + "," + lastDays;
        }

        var memberUserName = $("#findMember").val().split("-");
        var userName = memberUserName[0];
        var courtId = $("#courtInf option:selected").val();
        var date = $("#timeNow").val();
        var date2 = $('#timeTwoNow').val();




        if (times.length == 0) {


            swal({
                title: "Rezervasyon Onaylanmadı",
                text: "Lütfen Saat Seçiniz !",
                icon: "error",
                button: "Tamam",
            }).then((value) => {



            });

        }

        else if ($("#findMember").val() == "") {

            swal({
                title: "Uyarı",
                text: "Lütfen Üye Seçiniz !",
                icon: "error",
                button: "Tamam",
            }).then((value) => {



            });
        }

        else
            try {

                $.ajax({
                    type: "POST",
                    url: '../AdminHome/AddMultiRes',
                    cache: false,
                    data: {

                        "ResStartTime": times[0],
                        "ResFinishTime": times[(times.length - 1)],
                        "UserName": userName,
                        "CourtId": courtId,
                        "DateInf": date,
                        "Date2": date2,
                        "userId": $("#userId").text(),
                        "day": lastDays,
                        "compId": compId,

                    },
                    dataType: "json",
                    async: true,
                    success: function (res) {

                        if (res == true) {

                            $('#rsvModal').modal('toggle');

                            swal({
                                title: "Rezervasyon Başarılı",
                                text: "Rezervasyon Kaydınız Başarılı Bir Şekilde Gerçekleşti !",
                                icon: "success",
                                button: "Tamam",
                                timer: 500,
                            }).then((value) => {

                                getResTable($("#timeNow").val());
                                window.location.href = "~/AdminHome/Index";

                            });
                        }

                        else {

                            $('#rsvModal').modal('toggle');

                            swal({
                                title: "Rezervasyon Onaylanmadı",
                                text: "Bir Sorun Oluştu ,  Lütfen Tekrar Deneyiniz !",
                                icon: "error",
                                button: "Tamam",
                            }).then((value) => {



                            });
                        }

                    },
                    error: function (textStatus, errorThrown) {
                        console.log(JSON.stringify(textStatus));
                        console.log(textStatus);
                    }
                });
            } catch (e) {
                console.log(e.message);
            }


    }

</script>