@model List<Helpers.Dto.AppIdentityRoleDto>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


@{

    var compId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
}

<h2 style="display:none" id="compId">@compId</h2>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid d-flex justify-content-center">
            <div class="card" style="margin-top:15px;">
                <div class="card-body">
                    <div class="card" style="margin-bottom:20px; border:1px solid brown">

                        <div class="card-body">
                            <p class="login-box-msg">Zorunlu Alan </p>
                            <div class="row">
                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" id="name" placeholder="Adı Soyadı" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                      
                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" id="nickname"  placeholder="Rumuz" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <a style="cursor:pointer" onclick="getNickName()" class="fas fa-sync-alt"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-md-4">
                                    <select id="memType" class="form-control">
                                        <option disabled="disabled" selected>Üyelik Türü</option>

                                        <option value="0">Asil Üye</option>
                                        <option value="1">Geçici Üye</option>

                                    </select>
                                </div>

                                <div class="input-group mb-3 col-md-4">
                                    <input type="text" class="form-control" id="refmem1" placeholder="Referans Üye 1" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group mb-3 col-md-4">
                                    <input type="text" class="form-control" id="refmem2" placeholder="Referans Üye 2" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-group mb-3 col-md-6">
                                    <input placeholder="Başlangıç Tarihi" type="text" class="form-control" id="startDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                                <div class="input-group mb-3 col-md-6">
                                    <input placeholder="Bitiş Tarihi" type="text" class="form-control" id="finishDate" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="input-group mb-3 col-md-6">
                                    <input type="text" class="form-control" id="memberNum" placeholder="Üye Numarası" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <a style="cursor:pointer" onclick="getMemberNumber()" class="fas fa-sync-alt"></a>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group col-md-6">
                                    <select id="webReservation" class="form-control">
                                        <option  selected>Web Rezervasyon</option>
                                        <option value="1">Yapabilir</option>
                                        <option value="2">Yapamaz</option>

                                    </select>
                                </div>

                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="password"  placeholder="Şifre" autocomplete="new-password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <a style="cursor:pointer" onclick="getPassword()" class="fas fa-lock"></a>
                                    </div>
                                </div>
                            </div>

                            <p class="login-box-msg">Not: Şifre en az bir Büyük , Bir Küçük Harf , Sayı ve Karakter Gerektirir ve En az "6" Haneli Olmalıdır. </p>
                        </div>
                    </div>




                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input type="email" class="form-control" placeholder="T.C Kimlik" id="identificationNumber" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <select id="condition" class="form-control">
                                <option value="0" disabled="disabled" selected>Durumu</option>
                                <option value="1">Faal</option>
                                <option value="2">Çıkan</option>
                                <option value="3">Dondurulmuş</option>
                                <option value="4">Fahri</option>
                                <option value="5">İstifa</option>
                                <option value="6">Onur</option>
                                <option value="7">Vefat</option>
                                <option value="8">Belirtilmemiş</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input placeholder="Telefon No" id="phone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                        </div>

                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="phoneExp" placeholder="Tel Açıklama" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input placeholder="Telefon No" id="phone2" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                        </div>

                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="phone2Exp" placeholder="Tel Açıklama" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="emailExp" placeholder="Email Açıklama" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input placeholder="Doğum Tarihi" id="birthdate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="birthPlace" placeholder="Doğum Yeri" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="motherName" placeholder="Anne Adı" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="fatherName" placeholder="Baba Adı" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="city" placeholder="Şehir" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="district" placeholder="İlçe" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="job" placeholder="Meslek" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-md-6">
                            <input type="text" class="form-control" id="note" placeholder="Not" autocomplete="new-password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea id="detailAddress" class="form-control" rows="3" placeholder="Detaylı Adres Bilgisi"></textarea>
                    </div>

                    <div style="text-align:center; margin-bottom:15px;">
                        <div class="custom-control custom-switch">
                            <input style="cursor:pointer" type="checkbox" class="custom-control-input" onchange="checkedPartner(this)" id="part">
                            <label style="cursor:pointer" class="custom-control-label" for="part">Üye Eşi Tenis Kulübünde Faaliyet Gösterecek ise Lütfen Tıklayınız !!!</label>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample">
                        <div class="card" style="margin-bottom:20px;  border:1px solid brown">

                            <div class="card-body">
                                <p class="login-box-msg">Zorunlu Alan (Eş Bilgileri) </p>
                                <div class="row">

                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" id="partnerName" placeholder="Eş Adı Soyadı" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" id="nickname2"  placeholder="Rumuz" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <a style="cursor:pointer" onclick="getNickName2()" class="fas fa-sync-alt"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group mb-3 col-md-6">
                                        <input placeholder="Başlangıç Tarihi" type="text" class="form-control" id="startDate2" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3 col-md-6">
                                        <input placeholder="Bitiş Tarihi" type="text" class="form-control" id="finishDate2" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group mb-3 col-md-6">
                                        <input type="text" class="form-control" id="memberNum2" disabled  placeholder="Üye Numarası" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <a style="cursor:pointer" onclick="getMemberNumber2()" class="fas fa-sync-alt"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <select id="webReservation2" class="form-control">
                                            <option disabled="disabled" selected="">Web Rezervasyon</option>

                                            <option value="1">Yapabilir</option>
                                            <option value="2">Yapamaz</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group mb-3 col-md-4">
                                        <input type="email" class="form-control" placeholder="Eş T.C Kimlik" id="partnerIdNumber" autocomplete="new-password">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3 col-md-4">
                                        <input placeholder="Eş Telefon No" id="partnerPhone" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                    </div>

                                    <div class="input-group mb-3 col-md-4">
                                        <input placeholder="Eş Doğum Tarihi" id="partnerBirthdate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric" autocomplete="new-password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" disabled id="password2"  placeholder="Şifre" autocomplete="new-password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <a style="cursor:pointer" onclick="getPassword2()" class="fas fa-lock"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="justify-content:end">
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block" onclick="register()"><i class="fas fa-save"></i>Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script>

    $(document).ready(function () {

        myfunction();

    });

    function myfunction() {

        $.ajax({
            type: "Get",
            url: '../Public/UserList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {

                debugger;

                var mem = [];

                for (var i = 0; i < res.memberLists.length; i++) {
                    mem.push(res.memberLists[i].memberNumber + ' - ' + res.memberLists[i].fullName + ' - ' + res.memberLists[i].nickName);
                }

                $("#refmem1").autocomplete({
                    source: mem
                });

                $("#refmem2").autocomplete({
                    source: mem
                });
            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });
    }

    $(function () {

        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[data-mask]').inputmask()
        $('#reservationdate').datetimepicker({
            format: 'L'
        });
    })

    userObj = {

        name: null,
        username: null,
        startDate: null,
        finishDate: null,
        role: null,
        condition: null,
        identificationNumber: null,
        webReservation: null,
        phone: null,
        phoneExp: null,
        phone2: null,
        phone2Exp: null,
        email: null,
        emailExp: null,
        birthdate: null,
        birthPlace: null,
        motherName: null,
        fatherName: null,
        city: null,
        district: null,
        job: null,
        note: null,
        password: null,
        gender: null,
        nickName: null,
        privRes: null,
        refmem1: null,
        refmem2: null,
        detailAddress: null,
        memberNumber: null,
        memberNumber2: null,
        nickName2: null,
        username2: null,
        webReservation2: null,
        startDate2: null,
        finishDate2: null,
        isPartner: null,
        partnerName: null,
        partnerPhone: null,
        partnerIdNumber: null,
        partnerBirthDate: null,
        password2: null,
        companyId: null,
        memType:null,

    };

    function register() {

        userObj.memType = $("#memType option:selected").val();
        userObj.companyId = $("#compId").text();
        userObj.name = $("#name").val();
        userObj.username = $("#memberNum").val();
        userObj.nickName = $("#nickname").val();
        userObj.startDate = $("#startDate").val();
        userObj.finishDate = $("#finishDate").val();
        userObj.role = "Üye";
        userObj.condition = $("#condition option:selected").val();
        userObj.identificationNumber = $("#identificationNumber").val();
        userObj.webReservation = $("#webReservation option:selected").val();
        userObj.phone = $("#phone").val();
        userObj.phoneExp = $("#phoneExp").val();
        userObj.phone2 = $("#phone2").val();
        userObj.phone2Exp = $("#phone2Exp").val();
        userObj.email = $("#email").val();
        userObj.emailExp = $("#emailExp").val();
        userObj.birthdate = $("#birthdate").val();
        userObj.birthPlace = $("#birthPlace").val();
        userObj.motherName = $("#motherName").val();
        userObj.fatherName = $("#fatherName").val();
        userObj.city = $("#city").val();
        userObj.district = $("#district").val();
        userObj.job = $("#job").val();
        userObj.note = $("#note").val();
        userObj.password = $("#password").val();
        userObj.gender = "Male";
        userObj.memberNumber = $("#memberNum").val();
        userObj.refmem1 = $("#refmem1").val();
        userObj.refmem2 = $("#refmem2").val();
        userObj.detailAddress = $("#detailAddress").val();


   

        if ($('#part').is(":checked")) {

            userObj.nickName2 = $("#nickname2").val();
            userObj.username2 = $("#memberNum2").val();
            userObj.startDate2 = $("#startDate2").val();
            userObj.finishDate2 = $("#finishDate2").val();
            userObj.memberNumber2 = $("#memberNum2").val();
            userObj.password2 = $("#password2").val();
            userObj.isPartner = true;
            userObj.partnerBirthDate = $("#partnerBirthdate").val();
            userObj.partnerIdNumber = $("#partnerIdNumber").val();
            userObj.partnerPhone = $("#partnerPhone").val();
            userObj.partnerName = $("#partnerName").val();
        }


        if ($("#refmem2").val() == "" || $("#refmem1").val() == "" || $("#name").val() == "" || $("#username").val() == "" || $("#nickname").val() == "" || $("#memberNum").val() == "" || $("#memType option:selected").val() == "" || $("#startDate").val() == "" || $("#password").val() == "" || $("#webReservation option:selected").val() == "") {

            alert("Üye Zorunlu Alanları Boş Bırakılmış, Lütfen Eksiksiz Doldurunuz !!!");
        }

        else if ($('#part').is(":checked")) {

            if ($("#partnerBirthdate").val() == "" || $("#partnerPhone").val() == "" || $("#partnerIdNumber").val() == "" || $("#partnerName").val() == "") {

                alert("Eş Bilgisi Seçimi Yapılıp Bilgiler Boş Bırakılmış , Lütfen Bilgileri Doldurunuz !!!");
            }

            else if (userObj.nickName2 == userObj.nickName || userObj.username == userObj.username2 || userObj.memberNumber == userObj.memberNumber2) {

                alert("Eş Bilgisi ve Üye Bilgisi Kullanıcı Adı / Üye Numarası / Rumuz Aynı !! Değişiklik Yapınız !!!");

            }

            else {

                saveUser(userObj);
            }
        }
        else

            saveUser(userObj);

    }

    function saveUser(userObj) {
        try {
            $.ajax({
                type: "Post",
                url: '../AdminHome/Register',
                cache: false,
                data: userObj,
                dataType: "json",
                async: true,
                success: function (res) {

                    if (res.fullName == "Mn") {
                        $.confirm({
                            title: "Uyarı",
                            content: "Üye Numarası önceden Kayıtlı.",
                            buttons: {
                                TAMAM: function () {


                                }
                            }
                        });

                    }

                    else if (res.fullName == "Nn") {

                        $.confirm({
                            title: "Uyarı",
                            content: "Üye Numarası önceden Kayıtlı.",
                            buttons: {
                                TAMAM: function () {


                                }
                            }
                        });

                    }

                    else
                        $.confirm({
                            title: "Uyarı",
                            content: "Kullanıcı Kaydedilirken Hata Oluştu.",
                            buttons: {
                                TAMAM: function () {


                                }
                            }
                        });

                },
                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });
        } catch (e) {
            console.log(e.message);
        }
    }

    function getNickName() {

        var name = $("#name").val();

        var ad = name.split(" ");

        var ad1 = ad[0][0];
        var soyad1 = ad[1][0];

        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 3; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var nick = (ad1 + soyad1 + text).toLowerCase();


        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlNickName',
            cache: false,
            data: { "nickName": nick },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#nickname").val(nick);
                }
                else {

                    getNickName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getMemberNumber() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var memberNumber = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlMemberNumber',
            cache: false,
            data: { "memberNumber": memberNumber },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#memberNum").val(memberNumber);
                }
                else {

                    getMemberNumber()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getPassword() {

        var name = $("#name").val();

        var ad = name.split(" ");

        var ad1 = (ad[0][0]).toUpperCase();
        var soyad1 = (ad[1][0]).toLowerCase();

        var text = "123";
        var char = ".";

        var password = (ad1 + soyad1 + text + char);

        $("#password").val(password);

    }

    function getUserName() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var userName = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlUserName',
            cache: false,
            data: { "userName": userName },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#username").val(userName);
                }
                else {

                    getUserName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getNickName2() {

        var name = $("#partnerName").val();

        var ad = name.split(" ");

        var ad1 = ad[0][0];
        var soyad1 = ad[1][0];

        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 3; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var nick = (ad1 + soyad1 + text).toLowerCase();


        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlNickName',
            cache: false,
            data: { "nickName": nick },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#nickname2").val(nick);
                }
                else {

                    getNickName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getMemberNumber2() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var memberNumber = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlMemberNumber',
            cache: false,
            data: { "memberNumber": memberNumber },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#memberNum2").val(memberNumber);
                }
                else {

                    getMemberNumber()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function getPassword2() {

        var name = $("#partnerName").val();

        var ad = name.split(" ");

        var ad1 = (ad[0][0]).toUpperCase();
        var soyad1 = (ad[1][0]).toLowerCase();

        var text = "123";
        var char = ".";

        var password = (ad1 + soyad1 + text + char);

        $("#password2").val(password);

    }

    function getUserName2() {


        var text = "";
        var possible = "0123456789";

        for (var i = 0; i < 5; i++)

            text += possible.charAt(Math.floor(Math.random() * possible.length));

        var userName = text;

        $.ajax({
            type: "GET",
            url: '../AdminHome/ControlUserName',
            cache: false,
            data: { "userName": userName },
            dataType: "json",
            async: true,
            success: function (res) {

                if (res == true) {

                    $("#username2").val(userName);
                }
                else {

                    getUserName()

                }

            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }

    function checkedPartner(element) {

        if (element.checked) {

            $('#collapseExample').removeClass("collapse");
            $('#collapseExample').addClass("collapse show");
        }
        else {

            $('#collapseExample').removeClass("collapse show");
            $('#collapseExample').addClass("collapse");
        }
    }
</script>
