<style>
    button {
        border: none !important;
    }
</style>

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


@{
    var currentUserId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var CompId = HttpContextAccessor.HttpContext.Session.GetString("CompId");
}

<h2 style="display:none" id="currentUserId">@currentUserId</h2>
<h2 style="display:none" id="compId">@CompId</h2>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="card-title">
                                <h3>Rezervasyon Ödeme İşlemleri</h3>
                            </div>

                            <div id="selTime">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li style="margin-right:5px; border-radius:20px" class="page-item"><input id="findMembers" style="height:38px" type="search" class="form-control form-control-sm" placeholder="Üye Ara" aria-controls="example2"></li>
                                        <li class="page-item"> <button style="border-color:inherit !important " class="btn btn-dark" onclick="getList()">Getir</button></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet light" style="padding: 15px;">
                            <div class="alert alert-info" style="margin-bottom: 0; background-color:#343a40">
                                <strong>Rezervasyon Ödemesi!</strong> İlgili üye bilgisini bularak işleme devam ediniz.
                            </div>
                        </div>
                    </div>

                    <div class="card" style="border-radius:30px">
                        <div id="appendResInf">
                            <div class="portlet-body">

                            </div>
                        </div>
                    </div>

                    <div class="card" style="border-radius:30px">
                        <div id="append">
                            <div class="portlet-body">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ödeme Al</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered " style=" margin-bottom: 0;">
                                    <tbody>

                                        <tr class="note note-danger">
                                            <td style="vertical-align:middle;width: 112px;">Ödeme Tipi:</td>
                                            <td style="">
                                                <select class="form-control" id="paymentType" data-id="28911">
                                                    <option value="1">Nakit</option>
                                                    <option value="2">Kredi Kartı</option>
                                                    <option value="3">Havale </option>
                                                    <option value="4">Eft </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Makbuz No:</td>
                                            <td style=""><input id="receiptNo" type="text" name="MakbuzNumarasi" class="form-control " placeholder="Makbuz No"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Makbuz Tarihi:</td>
                                            <td><input class="form-control" type="date" id="receiptDate" style="cursor:pointer;"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td style="">Açıklama:</td>
                                            <td style=""><input id="explain" type="text" name="Aciklama" class="form-control" placeholder="Açıklama"></td>
                                        </tr>
                                        <tr class="note note-danger">
                                            <td>Ücreti:</td>
                                            <td>
                                                <input id="price" disabled type="text" class="form-control" autocomplete="new-password">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="paidOp" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="getPaidOperations(this.id)">Ödeme Al</button>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/linq.min.js"></script>


<script>

    findMemberTotal();
    var compId = $("#compId").text();

    function dataTable() {

        $('#resList').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 15,
            buttons: [{ extend: 'pdf', title: 'Rezervasyon  Borçları' }, { extend: 'print', title: 'Rezervasyon  Borçları' }]
        })
            .buttons().container().appendTo('#resList_wrapper .col-md-6:eq(0)');

        $('#resList2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 15,
            buttons: [{ extend: 'pdf', title: 'Rezervasyon İptal Borçları' }, { extend: 'print', title: 'Rezervasyon İptal  Borçları' }]
        })
            .buttons().container().appendTo('#resList2_wrapper .col-md-6:eq(0)');
    }

    function findMemberTotal() {

        $.ajax({
            type: "Get",
            url: '../Public/UserList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {



                var mem = [];

                for (var i = 0; i < res.memberLists.length; i++) {

                    if (res.memberLists[i].companyId == compId) {

                        mem.push(res.memberLists[i].memberNumber + ' - ' + res.memberLists[i].fullName + ' - ' + res.memberLists[i].nickName);
                    }

                }

                $("#findMembers").autocomplete({
                    source: mem,
                });


            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });


    }

    function getPaid(id) {

        $('body').loading({

            theme: 'dark',
            stoppable: false,
            message: 'Yükleniyor..'
        });

        $("#paidOp button:nth-of-type(2)").attr("id", id);


        var dt = new Date();
        var dd = String(dt.getDate()).padStart(2, '0');
        var mm = String(dt.getMonth() + 1).padStart(2, '0');
        var yyyy = dt.getFullYear();

        var today = yyyy + '-' + mm + '-' + dd;

        $("#receiptDate").val(today)

        $.ajax({
            type: "Get",
            url: '../AdminHome/GetReserInf',
            cache: false,
            dataType: "json",
            data: { "id": id },
            async: true,
            success: function (res) {

               

                if (res.reservation != null) {

                    $("#price").val(res.reservation.price)
                }
                else {
                    $("#price").val(res.reservationCancel.price)
                }

                setTimeout(function () { $("body").loading('destroy'); });
            },

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

        $('#exampleModal').modal('toggle')
    }

    function getPaidOperations(id) {

        $('body').loading({

            theme: 'dark',
            stoppable: false,
            message: 'Yükleniyor..'
        });
        
       

        var userId = $("#userId").val();

        if (userId == "") {

            userId = $("#userId2").val();
        }

        var paymentType = $("#currentUserId option:selected").val();
        var currentUserId = $("#currentUserId").text();
        var price = $("#price").val();
        var paidPrice = price;
        var remainingPrice = $("#remainingPrice").val();
        var receiptNo = $("#receiptNo").val();
        var receiptDate = $("#receiptDate").val();
        var explain = $("#explain").val();
        var compId = $("#compId").text();

        if (userId == "" || currentUserId == "" || price == "" || paidPrice == "" || remainingPrice == "" || receiptNo == "" || receiptDate == "" || explain == "") {
            alert("Lütfen Tüm Bilgileri Eksiksiz Doldurunuz !");
            setTimeout(function () { $("body").loading('destroy'); });
        }

        else {

            $.ajax({
                type: "Get",
                url: '../AdminHome/GetPaid',
                cache: false,
                dataType: "json",
                data: { "userId": userId, "compId": compId, "refId": id, "refType": 1, "doUserId": currentUserId, "price": price, "paidPrice": paidPrice, "remainingPrice": parseInt(price) - parseInt(paidPrice), "paymentType": paymentType, "receiptNo": receiptNo, "receiptDate": receiptDate, "explain": explain },
                async: true,
                success: function (res) {

                    if (res != null) {

                        swal({
                            title: "Ödeme Başarılı",
                            text: "Ödeme Başarılı Şekilde Alındı !",
                            icon: "success",
                            button: "Tamam",
                            timer: 500,

                        }).then((value) => {

                            $('#exampleModal').modal('toggle')
                            getList();

                        });
                    }

                    setTimeout(function () { $("body").loading('destroy'); });

                },

                error: function (textStatus, errorThrown) {
                    console.log(JSON.stringify(textStatus));
                    console.log(textStatus);
                }
            });

        }
    }

    function getList() {


        $('body').loading({

            theme: 'dark',
            stoppable: false,
            message: 'Yükleniyor..'
        });

        

        $.ajax({
            type: "Get",
            url: '../Public/UserList',
            cache: false,
            dataType: "json",
            async: true,
            success: function (res) {

                var userName = $("#findMembers").val();
                var sptUserName = userName.split("-");
                var memNum = sptUserName[0];


                var memberInf = Enumerable.from(res.memberLists)
                    .where(function (x) { return x.memberNumber == memNum.trim() })
                    .select(function (x) { return x }).toArray();


                if (memberInf.length > 0) {

                    var id = memberInf[0].userId;

                    $.ajax({
                        type: "Get",
                        url: '../AdminHome/GetResUser',
                        cache: false,
                        dataType: "json",
                        data: { "id": id },
                        async: true,
                        success: function (res) {


                            $("#appendResInf").empty();

                            var totalPrice = 0;

                            for (var i = 0; i < res.reservations.length; i++) {

                                if (res.reservations[i].companyId == compId && res.reservations[i].priceInf == false) {

                                    var firstPrice = res.reservations[i].price;
                                    var totalPrice = firstPrice + totalPrice;
                                }
                            }

                            row = "";
                            row += '<div id="asd" class="card-body ">';
                            row += '<div class="d-flex justify-content-between">';
                            row += '<h4 style="margin-bottom:30px">Rezervasyon Borçları</h4>';
                            row += '<h4 style="margin-bottom:30px">Toplam Rezervasyon  Borcu :' + totalPrice + '  ₺</h4>';
                            row += '</div>';
                            row += '<table id="resList" class="table table-bordered table-hover">';
                            row += '<thead>';
                            row += '<tr style="text-align:center">';
                            row += '<th>Üye Numarası</th>';
                            row += '<th>Adı - Soyadı</th>';
                            row += '<th>Rezervasyon Tarihi</th>';
                            row += '<th>Rezervasyon Saatleri</th>';
                            row += '<th>Kort Bilgisi</th>';
                            row += '<th>Ücret Durumu</th>';
                            row += '<th>Ücret Bilgisi</th>';

                            row += '<th>İşlemler</th>';
                            row += '</tr>';
                            row += '</thead>';

                            row += '<tbody>';


                            for (var i = 0; i < res.reservations.length; i++) {


                                if (res.reservations.length > 0 && res.reservations[i].priceInf == false && res.reservations[i].companyId == compId) {


                                    row += '<tr style="text-align:center" id="">';
                                    row += '<td>' + res.memberLists[0].memberNumber + '</td>';
                                    row += '<td>' + res.memberLists[0].fullName + '</td>';
                                    row += '<td>' + res.reservations[i].resDate + '</td>';
                                    row += '<td>' + res.reservations[i].resStartTime + ' - ' + res.reservations[i].resFinishTime + '</td>';
                                    row += '<td>' + res.reservations[i].court.courtName + '</td>';
                                    row += '<td>' + "Ödenmedi" + '</td>';
                                    row += '<td>' + res.reservations[i].price + '₺' + '</td>';


                                    row += '<td>';
                                    row += '<button class="btn btn-outline-dark" id="' + res.reservations[i].resId + '" onclick="getPaid(this.id) "><i class="fas fa-wallet"></i></button>';
                                    row += '<button style="display:none" class="btn btn-outline-dark" value="' + res.memberLists[0].userId + '" id="userId"</button>';
                                    row += '</td>';
                                    row += '</tr>';


                                }

                            }

                            row += '</tbody>';
                            row += '</table>';
                            row += '</div>';
                            row += '</div>';

                            $("#appendResInf").append(row);


                            $("#append").empty();


                            var totalPrice2 = 0;

                            for (var i = 0; i < res.reservationCancels.length; i++) {

                                if (res.reservationCancels[i].companyId == compId && res.reservationCancels[i].priceInf == false && res.reservationCancels[i].procedure == false) {

                                    var firstPrice2 = res.reservationCancels[i].price;
                                    var totalPrice2 = firstPrice2 + totalPrice2;
                                }
                            }

                            row = "";
                            row += '<div id="asd" class="card-body">';
                            row += '<div class="d-flex justify-content-between">';
                            row += '<h4 style="margin-bottom:30px">Rezervasyon İptal Borçları</h4>';
                            row += '<h4 style="margin-bottom:30px">Toplam Rezervasyon İptal Borcu : ' + totalPrice2 + ' ₺</h4>';
                            row += '</div>';
                            row += '<table id="resList2" class="table table-bordered table-hover">';
                            row += '<thead>';
                            row += '<tr style="text-align:center">';
                            row += '<th>Üye Numarası</th>';
                            row += '<th>Adı - Soyadı</th>';
                            row += '<th>Rezervasyon Tarihi</th>';
                            row += '<th>Rezervasyon Saatleri</th>';
                            row += '<th>Kort Bilgisi</th>';
                            row += '<th>Ücret Durumu</th>';
                            row += '<th>Ücret Bilgisi</th>';

                            row += '<th>İşlemler</th>';
                            row += '</tr>';
                            row += '</thead>';



                            for (var i = 0; i < res.reservationCancels.length; i++) {

                                if (res.reservationCancels.length > 0 && res.reservationCancels[i].priceInf == false && res.reservationCancels[i].procedure == false && res.reservationCancels[i].companyId == compId) {

                                    row += '<tbody>';
                                    row += '<tr style="text-align:center" id="">';
                                    row += '<td id="userId2" value="' + res.memberLists[0].userId + '">' + res.memberLists[0].memberNumber + '</td>';
                                    row += '<td>' + res.memberLists[0].fullName + '</td>';
                                    row += '<td>' + res.reservationCancels[i].resDate + '</td>';
                                    row += '<td>' + res.reservationCancels[i].resStartTime + ' - ' + res.reservationCancels[i].resFinishTime + '</td>';

                                    for (var c = 0; c < res.courts.length; c++) {
                                        if (res.courts[c].courtId == res.reservationCancels[i].courtId) {
                                            row += '<td>' + res.courts[c].courtName + '</td>';
                                        }
                                    }

                                    row += '<td>' + "Ödenmedi" + '</td>';
                                    row += '<td>' + res.reservationCancels[i].price + '₺' + '</td>';
                                    row += '<td>';
                                    row += '<button class="btn btn-outline-dark" id="' + res.reservationCancels[i].resId + '" onclick="getPaid(this.id) "><i class="fas fa-wallet"></i></button>';
                                    row += '<button style="display:none" class="btn btn-outline-dark" value="' + res.memberLists[0].userId + '" id="userId2"</button>';
                                    row += '</td>';
                                    row += '</tr>';
                                    row += '</tbody>';

                                }

                            }

                            row += '</table>';
                            row += '</div>';
                            row += '</div>';

                            $("#append").append(row);

                            dataTable();
                        },

                        error: function (textStatus, errorThrown) {
                            console.log(JSON.stringify(textStatus));
                            console.log(textStatus);
                        }
                    });
                }

                setTimeout(function () { $("body").loading('destroy'); });
            },

           

            error: function (textStatus, errorThrown) {
                console.log(JSON.stringify(textStatus));
                console.log(textStatus);
            }
        });

    }


</script>